.header__lang-link {
    font-family: 'Inter Regular';
    color: #FFFFFF;
    text-decoration: none;
    width: 29px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.16;
    margin-left: 18px;
}

.header__lang-link:first-child {
    margin-left: 0;
}

@media (max-width: 700px) {

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}