.cover__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    min-height: 740px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}

@media (max-width: 700px) {
    .cover__link {
        min-height: 300px;
    }
}

@media (max-width: 320px) {
    .cover__link {
        min-height: 200px;
    }
}
