.place__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    color: #FFFFFF;
    margin: 0;
    grid-area: title;
    text-align: start;
    max-width: 460px;
}

@media (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 700px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 320px) {
    .place__title {
        margin: 0 16px 0 16px;
    }
}