.place__image {
    grid-area: image;
    max-width: 460px;
    width: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media (max-width: 700px) {
    .place__image {
        max-width: 600px;
        justify-self: center;
    }
}