.lead {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 48px * 2);
    }
}

@media (max-width: 768px) {
    .lead {
        max-width: 100%;
    }
}