.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    align-self: center;
    max-width: 360px;
    z-index: 1;
    margin: 0;
}

@media (max-width: 700px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 260px;
    }
}