.header {
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 0 56px 0;
}

@media (max-width: 1024px) {
    .header {
        padding-bottom: 48px;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: calc(100% - 24px * 2);
    }
}

@media (max-width: 700px) {
    .header {
        max-width: calc(100% - 16px * 2);
        padding: 16px 0 48px 0;
    }
}