.lead__title {
    font-family: 'Inter Black';
    max-width: 700px;
    /*height: 200px;*/
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 700px) {

    .lead__title {
        font-size: 45px;
        line-height: 1.1;
    }
}

@media (max-width: 320px) {

    .lead__title {
        font-size: 40px;
        line-height: 1.1;
    }
}