.logo {
    width: 177px;
    height: 52px;
    background-image: url(../../images/header-logo.svg);
}

@media (max-width: 700px) {

    .logo {
        width: 142px;
        height: 42px;
        background-size: cover;
    }
}