.place__paragraph {
    font-family: 'Inter Regular';
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 26px 0;

}

.place__paragraph:last-child {
    margin: 0;
}

@media (max-width: 768px) {

    .place__paragraph {
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
    }
}