.footer__copyright {
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
}

@media (max-width: 700px) {

    .footer__copyright{
        padding-top: 64px;
    }
}