.place__link {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
}