.cover__background {
    width: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 700px) {

    .cover__background {
        min-height: 300px;
    }
}

@media (max-width: 320px) {

    .cover__background {
        min-height: 200px;
    }
}