.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    color: #FFFFFF;
    max-width: 510px;
    align-self: center;
    margin: 0 0 32px;
    z-index: 1;

}

@media (max-width: 700px) {

    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 250px;
        margin: 0 0 16px;
    }
}