.place {
    margin-bottom: 80px;
    list-style: none;
    display: grid;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image text";

}

.place:last-child {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media (max-width: 768px) {

    .place {
        grid-gap: 48px 28px;
    }
}

@media (max-width: 700px) {

    .place {
        justify-content: center;
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image"
        "text";
    }
}

@media (max-width: 320px) {

    .place {
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image"
        "text";
    }
}