.place__url-heading {
    font-family: 'Inter Regular';
    color: #AAAAAA;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    margin: 0 0 12px 0;
}